{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('.static', filename='css/dashboard.css')}}">
<link rel="stylesheet" href= "{{url_for('.static', filename='css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">


{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">  
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a href="#" class="navbar-left"><img src="/static/images/mpls_logo_latest.png" style="padding-top: 5px;
    border-top-width: 5px"></a>
          <a class="navbar-brand" href="#"></a>
           
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin">Ajustes</a></li>
            <li><a href="{{ url_for('logout') }}">Cerrar Sesion</a></li>

          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a id="devicemonitor" href=""><img src=static\images\monitor.png> Device-Monitor</a></li>
            <li><a id="configlog" href=""><img src=static\images\log.png> Config-Log</a></li>
            <li><a id="configbackup" href="{{ url_for('configs_backup') }}"><img src=static\images\backup.png> Config-Backup</a></li>
          </ul>

        </div>
      </div>  
      </div>
      <div class="container-fluid">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h1 class="page-header" style="padding-top: 9px">Bienvenido, {{ name }}!</h1>

 
 <table id="example" class="table table-condensed" cellspacing="0" width="100%">
            <thead>
                <tr>
                    {% for col in columnas %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>

            </tbody>
</table>

 </div>  

 </div>
<!-- The form which is used to populate the item data -->
<form id="userForm" method="post" action='/' class="form-horizontal" style="display: none;">
    <div class="form-group">
        <label class="col-xs-3 control-label">ID</label>
        <div class="col-xs-3">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.id,form_type='inline',readonly=True) }}
        </div>
    </div>

    <div class="form-group">
            <label class="col-xs-3 control-label">Device Name</label>
    <div class="col-xs-5">

            {{ wtf.form_field(form.devicename,form_type='inline') }}
    </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Device Rol</label>
        <div class="col-xs-5">

            {{ wtf.form_field(form.devicerol_edit,form_type='inline') }}
        </div>
    </div>


    <div class="form-group">
        <label class="col-xs-3 control-label">Device S.O.</label>
        <div class="col-xs-5">

            {{ wtf.form_field(form.deviceso,form_type='inline') }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Device SSHv2</label>
        <div class="col-xs-5">

            {{ wtf.form_field(form.devicesshv2,form_type='inline') }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Device IP</label>
        <div class="col-xs-5">

            {{ wtf.form_field(form.deviceip,form_type='inline') }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Device User Login</label>
        <div class="col-xs-5">

            {{ wtf.form_field(form.deviceuserlogin,form_type='inline') }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Device User Password</label>
        <div class="col-xs-5">

            {{ wtf.form_field(form.deviceuserpassword,form_type='inline') }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Device User Password</label>
        <div class="col-xs-5">

            {{ wtf.form_field(form.deviceenapassword,form_type='inline') }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Device SNMP</label>
        <div class="col-xs-5">

            {{ wtf.form_field(form.devicesnmp,form_type='inline') }}
        </div>
    </div>
    <div class="form-group">
    <div class="form-group">
    <div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</form>



<form id="addForm" method="post" action='/add' class="form-horizontal" style="display: none;">

    <div class="form-group">
            <label class="col-xs-3 control-label">Device Name</label>
    <div class="col-xs-5">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form1.devicename,form_type='inline') }}
    </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Device Rol</label>
        <div class="col-xs-5">

            {{ wtf.form_field(form1.devicerol,form_type='inline') }}
        </div>
    </div>


    <div class="form-group">
        <label class="col-xs-3 control-label">Device S.O.</label>
        <div class="col-xs-5">

            {{ wtf.form_field(form1.deviceso,form_type='inline') }}
        </div>
    </div>
    <div class="form-group">
    <div class="form-group">
        <label class="col-xs-3 control-label">Device SSHv2</label>
        <div class="col-xs-5">

            {{ wtf.form_field(form1.devicesshv2,form_type='inline') }}
        </div>
    </div>
        <div class="form-group">
        <label class="col-xs-3 control-label">Device IP</label>
        <div class="col-xs-5">

            {{ wtf.form_field(form1.deviceip,form_type='inline') }}
    </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Device User Login</label>
        <div class="col-xs-5">

            {{ wtf.form_field(form1.deviceuserlogin,form_type='inline') }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Device User Password</label>
        <div class="col-xs-5">

            {{ wtf.form_field(form1.deviceuserpassword,form_type='inline') }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Device User Password</label>
        <div class="col-xs-5">

            {{ wtf.form_field(form1.deviceenapassword,form_type='inline') }}
        </div>
    </div>
        <div class="form-group">
        <label class="col-xs-3 control-label">Device User Password</label>
        <div class="col-xs-5">

            {{ wtf.form_field(form1.devicesnmp,form_type='inline') }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</form>


{% endblock %}

{% block scripts %}

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

 <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.2/js/dataTables.select.min.js"></script>

<script>
    $(document).ready(function() {


    var events = $('#events');
    var table = $('#example').DataTable( {
        dom: 'Bfrtip',
        select: {
            style: 'single'
        },
        lengthChange: false,
        //"language": {
        //    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        //},
         "language": {
            
    "sProcessing":     "Procesando...",
    "sLengthMenu":     "Mostrar _MENU_ Dispositivos",
    "sZeroRecords":    "No se encontraron Dispositivos",
    "sEmptyTable":     "Ningun dato disponible en esta tabla",
    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ Dispositivos",
    "sInfoEmpty":      "Mostrando Dispositivos del 0 al 0 de un total de 0 Dispositivos",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ Dispositivos)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar Dispositivos:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
        "sFirst":    "Primero",
        "sLast":     "Ultimo",
        "sNext":     "Siguiente",
        "sPrevious": "Anterior"
    },
    "oAria": {
        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
    }

        },
        buttons: [  
                    {
                    text: '<i class="glyphicon glyphicon-plus">Nuevo</i>', titleAttr: 'Nuevo Device',
                    action: function () {

                    //bootbox.alert('Datos Seleccionados:'+data);                   
                    //alert( 'Datos Seleccionados:'+data ) ;
                    bootbox.dialog({
                    title: 'Ingresar Datos del Dispositivo ',
                    message: $('#addForm'),
                    show: true // We will show it manually later
                                  })
                                    .on('shown.bs.modal', function() {
                                        $('#addForm').show();// Show the login form
                                        $('input[name="id"]').val('');
                                        $('input[name="username"]').val('');
                                        $('input[name="mail"]').val('');
                                      })
                                       .on('hide.bs.modal', function(e) {
                    // Bootbox will remove the modal (including the body which contains the login form)
                    // after hiding the modal
                    // Therefor, we need to backup the form
                                        $('#addForm').hide().appendTo('body'); 
                                        table.ajax.reload();



                                          })
                                          .modal('show');


                                         

                    
                            }
                    },
                
                    {text: '<i class="glyphicon glyphicon-remove">Eliminar</i>', titleAttr: 'Eliminar',
                    action: function () {

                         /*
                         table.on( 'select', function ( e, dt, type, indexes ) {
                                         var rowData = table.rows( indexes ).data().toArray();
                                        alert('selected:'+rowData);
                              } ).on( 'deselect', function ( e, dt, type, indexes ) {
            var rowData = table.rows( indexes ).data().toArray();
            alert('deselect'+ '<div><b>'+type+' <i>de</i>selection</b> - '+JSON.stringify( rowData )+'</div>')
        } );*/
                    if( table.rows( { selected: true } ).count()>0){
                      
                    bootbox.confirm("Esta Seguro que desea eliminar el Dispositivo?", function(result){ 
                                        
                                     
                                        var data = table.row( { selected: true } ).data();
                                        var selectedrow=table.row( { selected: true } );
                                        console.log(selectedrow);
                                        console.log(data);
                                        console.log(data[0]);
                                        var value=data[0];
                                        //var id = {id:data[0]}
                                        var id_ = {id:value}
                                        console.log(id_)
                                        var url = "{{ url_for('eliminar') }}"; // send the form data here.
                                        console.log('This was logged in the callback: ' + result);
                                        console.log(id_);
                                        jsons=JSON.stringify(id_);
                                        console.log(jsons);
                                        if(result==true){

                                               $.ajax({
                                                    type: 'POST',
                                                    url: url,
                                                    data: jsons,
                                                    dataType: 'json',
                                                    contentType: 'application/json; charset=utf-8'
                                                }).done(function(data) {
                                                     table.ajax.reload();
                                                    bootbox.alert(data.data);
                                                });



                                        }


                                    
                                          

                                    });

                            }
                            else{
                                bootbox.alert('Debe seleccionar un Dispositivo')
                            }

                        }


                    },
                
                    {text: '<i class="glyphicon glyphicon-edit">Editar</i>', titleAttr: 'Editar',
                    action: function () {

                    if( table.rows( { selected: true } ).count()>0){
                    var data = table.row( { selected: true } ).data();
                    var index = table.row( { selected: true } ).index();
                    console.log(index);
                    //bootbox.alert('Datos Seleccionados:'+data);                   
                    //alert( 'Datos Seleccionados:'+data ) ;
                    var box = bootbox.dialog({
                    title: 'Modificar Datos del Dispositivo ',
                    message: $('#userForm'),
                    show: false // We will show it manually later
                                  })
                                    box.on('shown.bs.modal', function() {
                                        $('#userForm')                                          
                                                                    .show();// Show the login form
                                        $('input[name="id"]').val(data['0']);
                                        $('input[name="devicename"]').val(data['2']);
                                        $('#devicerol_edit').val(data['3']);
                                        $('input[name="deviceso"]').val(data['4']);
                                        $ ('input[name="devicesshv2"]').val(data['5']);
                                        $ ('input[name="deviceip"]').val(data['6']);
                                        $('input[name="deviceuserlogin"]').val(data['7']);
                                        $('input[name="deviceuserpassword"]').val(data['8']);
                                        $('input[name="deviceenapassword"]').val(data['9']);
                                        

                                        console.log(data)
                                      })
                                        .on('hide.bs.modal', function(e) {
                    // Bootbox will remove the modal (including the body which contains the login form)
                    // after hiding the modal
                    // Therefor, we need to backup the form
                                        $('#userForm').hide().appendTo('body');
                                        table.ajax.reload();

                                           })
                                            
                                          

                                           

                                            .modal('show');

                                            }
                                            else{
                                            bootbox.alert('Debe seleccionar un Dispositivo')

                                            }
                                         }       

                    },

                    {text:'<i class="glyphicon glyphicon-cog">Configurar</i>' ,titleAttr: 'Configurar',
                    action: function (  ) {
                    //window.location = "/devices"; <img src=static\images\p48.png>

                    if( table.rows( { selected: true } ).count()>0){
                                        var data = table.row( { selected: true } ).data();
                                        var selectedrow=table.row( { selected: true } );
                                        //console.log(selectedrow);
                                        var id = {id:data[0]}
                                        var rol = {rol:data[3]}
                                        console.log(id['id'])
                                        if( rol['rol']=='P'){
                                                window.location = "/device_p/"+id['id']

                                        }
                                         if( rol['rol']=='PE'){
                                                window.location = "/device_pe/"+id['id']

                                        }
                                         if( rol['rol']=='CPE'){
                                                 window.location = "/device_cpe/"+id['id']
                                                 
                                                 

                                        }
                                      
                                       

                       /*                  $.ajax({
                                                    type: 'POST',
                                                    url: url,
                                                    data: JSON.stringify(id),
                                                    dataType: 'json',
                                                    contentType: 'application/json; charset=utf-8',
                                                    success: function(evt) {
                                                     
                                                        }
                                                })*/


                                        


                            }
                            else{
                                bootbox.alert('Debe seleccionar un Dispositivo')
                            }





                                    }
                    }

                ],


        //"sDom": "<'row-fluid'<'span6 toolbar'><'span6'>r>t<'row-fluid'<'span6'f><'span6'p>>",
        "bProcessing": true,
        "bjQueryUI": true,
        "sAjaxSource": "{{ url_for('_server_data') }}",
        
       });


       monitor(table);
   



} ); 


</script>

<script>
        $(document).ready(function() {
        $('#userForm').submit(function (e) {
            var url = "{{ url_for('edit') }}"; // send the form data here.
            $.ajax({
                type: "POST",
                url: url,
                data: $('#userForm').serialize(), // serializes the form's elements.
                success: function (data) {
                    console.log(data);  // display the returned data in the console.
                    //$('#userForm').modal('hide');
                    $('#userForm').parents('.bootbox').modal('hide');
                    bootbox.alert(data.data);


                }
            });
            e.preventDefault(); // block the traditional submission of the form.
        });
        // Inject our CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })
    }); 



</script>

<script>
    
function monitor(table){
    
        $('#devicemonitor').click(function(){
            console.log('table'+table.data);


           if( table.rows( { selected: true } ).count()>0){
              var data = table.row( { selected: true } ).data();
              var id = {id:data[0]};

              window.location = "/monitor/"+id['id']

         };
             bootbox.alert('Debe seleccionar un Dispositivo')
             return false;    
                        

        });

     
    };





</script>
    

{% endblock %}

