{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Devices Configuration
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/signin.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/animation.css')}}">

{% endblock %}

<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

{% block content %}
 <h3>EIGRP Protocol</h3>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a href="#" class="navbar-left"><img src="/static/images/mpls_logo_latest.png" style="margin-top: 5px;
          border-top-width: 5px"></a>
          <a class="navbar-brand" href="#"></a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
             <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle"  type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 10px">
    Device
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

    <li><a href="{{url_for('dashboard')}}""><i class="glyphicon glyphicon-globe"></i> Dashboard</a></li>
    <li><a href="javascript:history.go(-1)"><i class="glyphicon glyphicon-arrow-left"></i> Volver</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#"><i class="glyphicon glyphicon-floppy-saved"></i> Save Config</a></li>
  </ul>

  <!-- <label class="control-label" for="ip_destino" style="margin-left: 810px">Resultado de la Configuracion</label> -->

</div>
<div class="container-fluid">
<div class="row">
  <div class="col-xs-6 col-md-4">
<div class="panel panel-danger" id="panelchange">
  <!-- Default panel contents -->
  <div class="panel-heading">Devices Config, id: {{ device }}</div>
  <!-- List group -->
  <ul class="list-group">
      <li class="list-group-item" id="devicename">Nombre del Dispositivo:</li>
      <li class="list-group-item" id="deviceip">Direccion IP:</li>
      <li class="list-group-item" id="devicerol">Rol:</li>
      <li class="list-group-item" id="devicesnmp">SNMP Comunity:</li>
      <li class="list-group-item" id="devicestatus">Status:</li>

  </ul>


</div>

  </div>
  <div class="col-xs-6 col-md-4">


<div class="panel panel-default">
  <div class="panel-body">

<form method="POST" action="/devices">
    <div class="form-group">
        {{ form.hidden_tag() }}

        {{ wtf.form_field(form.id,readonly=True, value=device) }}

    </div>

    <div class="form-group">

        {{ wtf.form_field(form.eigrp_process) }}
    </div>
    <div class="form-group">
        {{ wtf.form_field(form.eigrp_network) }}
    </div>
    <div class="form-group">
        {{ wtf.form_field(form.eigrp_mascara) }}
    </div>



  <button type="submit" class="btn btn-primary">Configurar</button>

</form>

</div>
</div>

</div>
<div class="col-xs-6 col-md-4">


<div class="panel panel-default" id="panelchange">
  <!-- Default panel contents -->
<div class="panel-heading">Resultado de la Configuracion</div>
  <!-- List group -->
<div class="panel-body">



    <textarea class="form-control" id="message-text" style="height: 290px ; border: none"></textarea>





  </div>


</div>





      <div id='response' style="display: none"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Ejecutando Comandos...<span></div>

</div>


</div>
</div> <!-- /container -->



{% endblock %}

{% block scripts %}

<script src="/static/js/jquery-2.2.4.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {
        $('form').submit(function (e) {
            var url = "{{ url_for('show_result_eigrp') }}"; // send the form data here.
            $.ajax({

                type: "POST",
                url: url,
                data: $('form').serialize(), // serializes the form's elements.
                //data : formData.serialize(),
                processData : false,
                contentype : false,
                success: function (data) {
                    console.log(data);  // display the returned data in the console.
                    $('#response').fadeOut();
/*                    if (typeof data['ip_destino'] === "undefined") {
                    $('#message-text').text(data.data);
                    }
                    else{

                       bootbox.alert('Error:'+data['ip_destino']+'--'+data['mascara']+'--'+data['next_hop']);
                    }*/
                   validate_errors(data);


                },
                beforeSend: function(xhr, settings) {

               $('#response').fadeIn();


               if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }



            }
            });
            e.preventDefault(); // block the traditional submission of the form.
        });
        // Inject our CSRF token into our AJAX request.

    });
</script>

<script>
  function loadajax(){
   //var id = "{{ device }}";
   var url = "{{ url_for('load_device') }}";
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify({{device}}),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            }).done(function(data) {
                 console.log(data['deviceip']);
                 var valores = data['devicename'] + data['deviceip']+data['devicerol']
/*                 $('.list-group').append('<li class="list-group-item">'+'Nombre del Dispositivo:'+data['devicename'] + '</li>')
                 $('.list-group').append('<li class="list-group-item">'+'Direccion IP:'+data['deviceip'] + '</li>')
                 $('.list-group').append('<li class="list-group-item">'+'Rol:'+data['devicerol'] + '</li>')
                 $('.list-group').append('<li class="list-group-item">'+'Status:'+data['status'] + '</li>')*/

                 $('#devicename').html('Nombre del Dispositivo:'+data['devicename'])
                 $('#deviceip').html('Direccion IP:'+data['deviceip'])
                 $('#devicerol').html('Rol:'+data['devicerol'])
                 if(data['devicesnmp']==null){
                 $('#devicesnmp').html('SNMP Comunity:'+'No Configurada')
                 }
                 else{
                 $('#devicesnmp').html('SNMP Comunity:'+data['devicesnmp'])
                 }
                 $('#devicestatus').html('Status:'+data['status'])
                 $('#response').fadeOut();

            });
            //$('input[name="id"]').val({{device}})
  };
    function check_with_ajax(){
   //var id = "{{ device }}";
   var url = "{{ url_for('check_device') }}";
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify({{device}}),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            }).done(function(data) {
                 console.log(data['status']);
                 if (data['status']=='Down') {
                 $("#panelchange").removeClass('panel-success');
                 $("#panelchange").addClass('panel-danger');
                 $('#devicestatus').html('Status:'+data['status'])
                 $('#response').fadeOut();
                 }
                 else{
                   $("#panelchange").removeClass('panel-danger');
                   $("#panelchange").addClass('panel-success');
                   $('#devicestatus').text('Status:'+data['status'])
                   $('#response').fadeOut();
                 }



            });
  };
$(function(){
    setTimeout(loadajax,5000);
});
$(function(){
    setInterval(check_with_ajax,5000);
});

</script>

<script>
    function validate_errors(data){

var down ='El estado del dispositivo es Down! verifique conectividad IP...'
var buffer="";

    if (data.data!=down) {
    $('#message-text').text(data.data);

      }
    $.each(data, function(index, val){

      for(var i=0; i < val.length; i++){
        var item = val[i];
        console.log(item.name);
        buffer+="<li>"+data[index]+"</li>" ;
      }

    });
  if(data.data==down){

    buffer=down
    bootbox.alert('Erros Msg:'+buffer);

  }


if (typeof data.error1 === "undefined" || typeof data.error2 === "undefined"  || typeof data.error3 === "undefined" ) {
    console.log('error es undefined:'+data.error1);
    console.log('error es undefined:'+data.error2);
    console.log('error es undefined:'+data.error3);


        }
  else{bootbox.alert('Erros Msg:'+buffer);}

};
</script>

{% endblock %}
